In [8]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
%matplotlib inline
import seaborn as sns
import scipy.stats as stats
from scipy.stats import ttest_1samp, ttest_ind
from statsmodels.stats.power import ttest_power

In [9]:
data = pd.read_excel('Trough (1).xlsx')
data.describe()

           Width
count  49.000000
mean    8.420898
std     0.046115
min     8.312000
25%     8.405000
50%     8.420000
75%     8.458000
max     8.498000

In [12]:
t_statistic1, p_value = ttest_1samp(data, 8.31)

In [13]:
t_statistic2, p_value = ttest_1samp(data, 8.61)

In [14]:
t = t_statistic2 - t_statistic1
t

array([-45.53877087])

In [15]:
data = pd.read_excel('Quiz_Dataset.xlsx')
data.describe()

          US_Cars  Japanese_Cars
count  250.000000      79.000000
mean    20.188000      30.481013
std      6.438515       6.107710
min      9.000000      18.000000
25%     15.000000      25.500000
50%     19.000000      32.000000
75%     24.000000      34.000000
max     39.000000      47.000000